<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml">
    <!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link type='text/css' rel="stylesheet" href="css/admin.css">
</head>
<body>
<%- include('../partials/sidebar_admin.ejs') %>
    <section id="content">
        <%- include('../partials/navbar_admin.ejs') %>

        <%- body %>
    </section>
	<script type="text/javascript" src="js/admin.js"></script>
</body>
</html>